<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href={{ url_for('static', filename='css/login_register.css') }} />
    <title>Sign in & Sign up Form</title>
  </head>
  <body>


    <!-- ``````````` -->
    <div class="box">
      <p class="box-p1"><a href="C:\Users\Mian Ali\Downloads\Compressed\Rahat Zip file\index.html">HOME</a><span>/ REGISTER</span></p>
    </div>
  
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form method="POST" action="/login" class="sign-in-form">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" name="username"/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" name="password"/>
            </div>
            <p class="social-text" style="color: rgb(119, 119, 119);">Remember me &nbsp; &nbsp;<input type="checkbox" name = "remember" value = "rem"/> </p>
            <input type="submit" value="Login" class="btn solid" />
            <p class="social-text">Or Sign in with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
          <form method="POST" action="/signup" class="sign-up-form">
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" name="username"/>
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Full Name" name="fullname"/>
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Email" name="email" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" name="password"/>
            </div>
            <input type="submit" class="btn" value="Sign up" />
            <p class="social-text">Or Sign up with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
           <img src={{ url_for('static', filename='Images/logo.png') }} class="image" alt="" />
            <h3>New here ?</h3>
            <p>
              Click here to go to Sign Up page
            </p>
            <button class="btn transparent" id="sign-up-btn">
              Sign up
            </button>
          </div>
          <img src={{ url_for('static', filename='Images/log.svg') }} class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
          <img src={{ url_for('static', filename='Images/logo.png') }} class="image" alt="" />
            <h3>One of us ?</h3>
            <p>
              Click here to go to Sign In page
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Sign in
            </button>
          </div>
          <img src={{ url_for('static', filename='Images/register.svg') }} class="image" alt="" />
        </div>
      </div>
    </div>

    <script src={{ url_for('static', filename='js/login_register.js') }}></script>
  </body>
</html>
